torch==2.4.0
torchaudio==2.4.0
torchtune==0.2.1
torchvision==0.19.0
gdown==5.2.0
gharchive==0.2.2
gmpy2==2.1.5
h2==4.1.0
hdf5plugin==4.4.0
importlib-metadata==8.2.0
ipykernel==6.29.5
jsonargparse==4.32.0
docstring_parser==0.16
mgzip
pathtools
antlr4-python3-runtime
jsonnet==0.20.0
lightning==2.3.3
loralib==0.1.2
matplotlib==3.9.1
maturin==1.7.0
mgzip==0.2.1
munkres==1.1.4
nbformat==5.10.4
nox==2024.4.15
ordered-set==4.1.0
pathtools==0.1.2
pickleshare==0.7.5
plotly==5.23.0
pooch==1.8.2
ptwt==0.1.9
pyqt5==5.15.9
pysocks==1.7.1
pytest==8.3.2
scipy==1.14.0
sip==6.7.12
tensorboard==2.17.0
toml==0.10.2
tomli==2.0.1
tox==4.16.0
transformers==4.43.3
triton==3.0.0
typeshed-client==2.4.0
validators==0.33.0
wandb==0.16.6
zstandard==0.23.0
wheel
typing-extensions
maturin
hjson
ninja
msgpack
py-cpuinfo
pydantic>=2.0.0
flash-attn==2.6.3